body, html{
    margin:0;
    padding:0;
}

* {
    font-family: Cutive-mono, monospace;
    background-color: black;
    color: white;
}

.monkepic {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
