body, html {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
}

.container {
    width: 95vw;
    text-align: center;
}

* {
    font-family: Cutive-mono, monospace;
!important;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 90%);
}

#monkepic {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    width: 100vw;
    height: 100vh;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.hider {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.prev {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 30%;
    transform: translateX(-50%);
}

.next {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 70%;
    transform: translateX(-50%);
}

button {
    font-size: large;
    outline: none;
    border-width: 3px;
    border-radius: 8px;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 10%);
}

div {
    border-radius: 8px;
}

li {
    margin-top: 10px;
}