body, html{
    margin:0;
    padding:0;
}

* {
    font-family: Cutive-mono, monospace; !important;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
}

#monkepic {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

.hider {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

button {
    font-size: large;
    outline: none;
    border-width: 3px;
    border-radius: 8px;
    transition-duration: 0.25s;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 10%);
}

div {
    border-radius: 8px;
}

li {
    margin-top: 10px;
}