body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

* {
    font-family: Cutive-mono, monospace;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 90%);
}

.heads {
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

button {
    border: 2px solid;
    font-size: large;
    outline: none;
    border-radius: 5px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button, .passageButton, .invokeButton, #musicButton, #tbd1, #realMusicButton {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    text-transform: uppercase;
}

@media only screen and (max-width: 15cm) {
    .button, .passageButton, .invokeButton, #musicButton, #tbd1, #realMusicButton {
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 90%;
        width: 90%;
    }

    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

button:hover {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 10%);
}

#monkepic {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

#passageBox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

#passageboxtext {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Cutive-mono, monospace;
    text-transform: uppercase;
    font-weight: lighter;
    min-width: 50vw;
    max-width: 90vw;
    max-height: 90vh;
}

div {
    border-radius: 8px;
}

.footer {
    text-align: center;
    width: 100vw;
    font-size: 14px;
    display: inline-block;
    alignment: center;
}

#bottomContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.hider, #rerollDiv {
    display: block;
}

#hidePoem {
    position: fixed;
    display: none;
    top: 95%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#rerollButton {
    position: fixed;
    display: none;
    top: 95%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#rerollPassage {
    position: fixed;
    display: none;
    top: 95%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}