@font-face {
    font-family: cutive-regular;
    src: url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
}

* {
    font-family: "Cutive mono", monospace;
    color: white;
}

h1, h2, h4 {
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: black;
}

button {
    font-family: "Cutive mono", monospace;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: large;
    cursor: pointer;
    border-color: maroon;
    border-width: 3px;
    outline: none;

}

#left {
    float: left;
    margin-left: 300px;
    margin-top: 300px;
}

#right {
    float: right;
    margin-right: 300px;
    margin-top: 300px;
}

#bottomcenter {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}