body, html{
    margin:0;
    padding:0;
}

* {
    font-family: Cutive-mono, monospace; !important;
    background-color: black;
    color: white;
}

.heads {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}

.heads h2 {
    margin-top: 4%;
}

.container {
    width: 100%;
}

.buttonsleft {
    float: left;
    width: 50%;
}

.buttonsright {
    float: right;
    width: 50%;
}

#passage, #submit {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

#invokePoem, #database {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

button {
    font-size: large;
    outline: none;
    border-width: 3px;
}

#monkepic {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

.hider {
    position: fixed;
    left: 40%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.passagehider {
    position: fixed;
    left: 60%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#passageBox {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

#passageboxtext {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}