@font-face {
    font-family: cutive-regular;
    src: url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
}

* {
    font-family: "Cutive mono", monospace;
    color: white;
}

body {
    background-color: black;
}

h5 {
    font-family: "Cutive mono", monospace;
    letter-spacing: 2px;
    word-spacing: 3px;
}