body, html{
    margin:0;
    padding:0;
}

* {
    font-family: Cutive-mono, monospace; !important;
    background-color: black;
    color: white;
}

.heads {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}

.heads h2 {
    margin-top: 4%;
}

.container {
    width: 100%;
}

.buttonsleft {
    float: left;
    width: 50%;
}

.buttonsright {
    float: right;
    width: 50%;
}

#passage, #submit {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

#invokePoem, #database {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}