body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

* {
    font-family: Cutive-mono, monospace;
!important;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 90%);
}

.heads {
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#passage, #music, #invokePoem, #database {
    display: inline-block;
}

button {
    font-size: large;
    outline: none;
    border-width: 3px;
    border-radius: 8px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button, .passageButton, .invokeButton, #musicButton {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 10%);
}

#monkepic {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

.hider {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#passageBox {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

#passageboxtext {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Cutive-mono, monospace;
    text-transform: uppercase;
    font-weight: lighter;
    min-width: 50vw;
    max-width: 90vw;
    max-height: 90vh;
}

div {
    border-radius: 8px;
}

.footer {
    text-align: center;
    width: 100vw;
    font-size: 14px;
    display: inline-block;
    alignment: center;
}