@font-face {
    font-family: 'Cutive Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
}

* {
    font-family: 'Cutive Mono', monospace;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0,0%, 95%);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 1em;
}

#buttonsContainer {
    margin-top: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4em;
}

#poemsContainer {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-row-gap: 1em;
}

@media screen and (max-width: 14cm){
    #buttonsContainer {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
    }

    #poemsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(21, 1fr);
    }

    img {
        width: 95vw !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        margin: 0 auto;
    }

    #lines {
        padding-top: 30px;
    }

    #footerText {
        width: 100vw;
        text-align: center;
    }

    #imgDatabase {
        display: none !important;
    }

    #poemNrText {
        display: none;
    }

    #poemNrTextTwo {
        display: none;
    }

    #poemText {
        width: 90% !important;
    }
}

a {
    border: 3px white solid;
    border-radius: 5px;
    height: 4em;
    width: 10em;
    text-decoration: none;
    margin: 0 auto;
}

#footerText {
    height: 100%;
    width: 100%;
}

a:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 25px;
}

#footerText {
    width: 100%;
    margin: auto;
    text-align: center;
}

#poemImgDiv {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
}

button {
    position: fixed;
    align-items: center;
    display: inline-block;
    bottom: 10px;
    z-index: 1;
    width: 55px;
    height: 25px;
    border: white solid 2px;
    border-radius: 5px;
    box-shadow: none;
}

button:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

#next {
    position: fixed;
    align-items: center;
    display: inline-block;
    right: 10px;
    z-index: 1;
    height: 20px;
    width: 20px;
}

#prev {
    height: 20px;
    width: 20px;
    position: fixed;
    align-items: center;
    display: inline-block;
    left: 10px;
    z-index: 1;
}

#reroll {
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    width: 55px;
    height: 25px;
    outline: none;
}

#lines {
    padding-top: 50px;
    padding-bottom: 300px;
}

#poemNrText {
    font-size: 70px;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100px;
}

#poemNrTextTwo {
    font-size: 75px;
    position: fixed;
    bottom: 50px;
    left: 10px;
    height: 100px;
    width: 100px;
}

img {
    position: absolute;
    top: 25px;
    right: 50px;
    display: inline-block;
    width: 80%;
}

#imgDatabase {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 48%;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
}

p {
    margin-bottom: 1em;
}

#poemText {
    position: absolute;
    top: 25px;
    left: 10px;
    display: inline-block;
    width: 50%;
    font-size: 28px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

form {
    display: inline-block;
    margin: 15px;
}