@font-face {
    font-family: 'Cutive Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
}

* {
    font-family: 'Cutive Mono', monospace;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0,0%, 95%);
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#buttonsContainer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 100px;
}

#poemsContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-row-gap: 10px;
}

@media screen and (max-width: 15cm){
    #buttonsContainer {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 25px;
    }

    img {
        height: 75vh !important;
    }

    #lines {
        padding-top: 50px;
        padding-bottom: 300px;
    }

    #footerText {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

a {
    border: 3px white solid;
    border-radius: 3px;
    height: 60px;
    width: 150px;
    text-decoration: none;
    margin: 0 auto;
}

p {
    height: 100%;
    width: 100%;
}

a:hover {
    background-color: darkgray;
    color: black;
    cursor: pointer;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 25px;
}

#footerText {
    width: 55%;
    margin: auto;
    text-align: center;
}

#poemImgDiv {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    position: fixed;
    align-items: center;
    display: inline-block;
    bottom: 10px;
    z-index: 1;
    width: 55px;
    height: 25px;
}

#next {
    position: fixed;
    align-items: center;
    display: inline-block;
    right: 10px;
    z-index: 1;
    height: 20px;
    width: 20px;
}

#prev {
    height: 20px;
    width: 20px;
    position: fixed;
    align-items: center;
    display: inline-block;
    left: 10px;
    z-index: 1;
}

#reroll {
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    width: 55px;
    height: 25px;
}

#lines {
    padding-top: 300px;
    padding-bottom: 300px;
}